<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.6"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="uk.ac.soton.ecs.jsh2.m2e.jtemp.JtempPluginConfigurator"
            id="uk.ac.soton.ecs.jsh2.m2e.jtemp.Configurator"
            name="jtemp Project Configurator">
      </configurator>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
</plugin>
